<div class="social">
  <ul>
    <li><a href="https://github.com/sudaraka/" title="My Github profile"><div class="icon icon-github"></div></a></li>
    <li><a href="https://bitbucket.com/sudaraka/" title="My Bitbucket profile"><div class="icon icon-bitbucket"></div></a></li>
    <li><a href="https://plus.google.com/+SudarakaWijesinghe" rel="me" target="_blank" title="Google Plus"><div class="icon icon-gprofile"></div></a></li>
    <li><a href="https://twitter.com/sudaraka" rel="me" target="_blank" title="Twitter"><div class="icon icon-twitter"></div></a></li>
    <li><a href="https://www.coursera.org/user/i/cdfb82b8e9b7ef385a24318bbfe717e9" rel="me" target="_blank" title="Coursera Profile"><div class="icon icon-coursera"></div></a></li>
    <li><a href="http://www.experts-exchange.com/M_2389851.html" rel="me" target="_blank" title="Experts-Exchange"><div class="icon icon-ee"></div></a></li>
  </ul>
</div>
