<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Params.SiteName }} &mdash; {{ .Site.Params.Slogan }}</title>

    <meta name="title" content="{{ .Site.Params.Slogan }}">
    <meta name="charset" content="utf-8">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="keywords" content="{{ .Site.Params.Keywords }}">

    <link rel="shortcut icon" type="image/png" href="/images/lamp.png">
    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/index.css">
  </head>
  <body>

    <div id="div-content" class="area">
      <article class="wrapper">
        {{ range .Data.Pages }}
          {{ if eq .File.BaseFileName "home" }}
            {{ .Content }}
          {{ end }}
        {{ end }}

        <div class="clear"></div>
      </article>
    </div>

    {{ partial "sidebar" . }}

  </body>
</html>
